/* Acest h2 il afecteaza si pe cel din App.js! */
.user-add-form {
  background-color: #ffffff;
  border: 1px solid #009688;
  width: 300px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  /* display: inline-block; */
}

.user-add-form input {
  border: 1px solid #999999;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 6px;
}

.user-add-form label {
  padding-bottom: 5px;
}

input.user-add-form-btn,
.user-add-form-btn:focus {
  background-color: #0e2a47;
  border: 1px solid #0e2a47;
  border-radius: 20px;
  color: #ffffff;
  width: 100px;
  padding: 6px 8px;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

.user-add-form-btn:hover {
  background-color: #009688;
  border: 1px solid #009688;
}
